body { 
    background-color: lightblue;
}

h1 {
    color: white

}
nav{
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-link {
    opacity: 0.7;
    
}

.nav-link:hover{
    opacity: 1.0;
    background-color: transparent; 
}

header {
    background-image: url(https://i.pinimg.com/originals/bb/0d/45/bb0d4572eae04ea2b806c6a05b0e2afa.jpg);
    text-align: center;
    height: 600px;
    background-size: cover;
    
}

header p {
    
}